body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgba(215, 250, 243, 0.397);
}
.orange-color{
    color: orange;
}
h1{
    font-size: 50px;
}
.d-flex{
    display: flex;
}
.half-width{
    width: 50%;
    margin: 5%;
}
img {
    max-width: 100%;
    border-radius: 301px 10px;
}
.half-width a{
    margin-top: 5px;
    display: inline-block;
    background-image: linear-gradient(rgb(248, 121, 142), aqua);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    border: 3px solid purple;
    font-weight: 600;
}
.half-width a:hover{
    background-image: linear-gradient(rgb(121, 155, 248), rgb(255, 0, 255));
    color: aliceblue;
    border: 3px solid rgb(0, 255, 21);
    transition: 0.5s;
    font-weight: 600;
}